<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @article_photo.article %>
</p>

<%= link_to 'Edit', edit_article_photo_path(@article_photo) %> |
<%= link_to 'Back', article_photos_path %>
