<%= form_for(current_user.active_relationships.build, id: "follow") do |f| %>
  <div><%= hidden_field_tag :followed_id, @band.id %></div>
  <%= f.submit "Follow", class: "btn btn-link btn-block" %>
<% end %>