
$font-family-sans-serif: "Oswald";
@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Slab');
body{
	margin:0;
	font-family: 'PT Sans', sans-serif;
}
a, a:hover {
  link-style:none;
  color:#000;
}
p {
  font-size:18px;
  font-family: 'Roboto Slab', serif;
}

.styleSmLogo{
	width:270px;
	margin-left:auto;
	margin-right:auto;
}
.sign-up{
	margin-top:20px;

}
.content{
	text-align:left;
	margin-bottom:40px;
}
h2{
  font-family: 'PT Sans', sans-serif;
  font-weight:bold;
  font-size:38px;
}
h3{
  font-family: 'PT Sans', sans-serif;
  font-weight:bold;
  font-size:32px;
}
h5{
  font-size: 17px;
}
label{
   font-size: 16px;
}
h3 small.pull-right{
  padding-top:5px;
}
small.pull-right{
  padding-top:3px;
}
.form-control, .selectize-control{
  margin-bottom:10px;
}
.btn-comment{
  height:74px;
  width: 74px;
}
.panel-admin{
  height:290px;
}
.panel-body-admin{
  height:196px;
}
.audio-info{
	background-color:#ececec;
	height:100%;
	width:260px;
	float:left;
	text-align:left;
  margin-top:-10px;
}
.album-art{
	height:80px;
	width: 80px;
	float:left;
}
.audio-art{
	height:80px;
	width: 80px;
	float:left;
}
.albumArt{
  border-radius:4px;
}
.audio-desc{
	padding-top:6px;
	padding-left:13px;
	font-weight:bold;
	float:left;
}
.activity{
  padding-top:20px;
  padding-bottom:10px;
  border-bottom:solid;
  border-bottom-width:thin;
  border-bottom-color:#eeeeee;
}
.btn-follow{
  margin-top:3px;
}
.article-container{
  padding-right:25px;
  padding-left:25px;
  overflow:hidden;
}
.cke_reset {
  height:807px !important; 
}
.article-editor{
  height:920px;
}
.article-body p img{
  max-width:700px;
}
.article-activities{
  width: 100%;
  overflow:hidden;
}
.dropdown-menu{
  width:220px;
}
.song-show-album-art{
  text-align:center;
  padding-left:20px;
  padding-right:20px;
}
.error-message{
  position:absolute;
  top:40%;
  right:21%;
  text-align:center;
}
.error-message-inner{
  width:90%;

}

 /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
		.logo-cont{
			width:100%;
			height:250px;
			background-color:#550527;
			text-align:center;
			position:relative;
		}
		.png-logo{
			padding-top:77px;
			width:600px;
			margin-left:auto;
			margin-right:auto;
			position:relative;
			z-index:1000;
		}
    #about{
      display:none;
    }
    .band-avatar-big{
      text-align:center;
    }
    .band-name-big{
      text-align:center;
    }
    .event-title-date{
      height:30px;
    }

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
		.logo-cont{
			height:320px;
		}


    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    	#progressOut {
        	display:block;
		} 
		#progressIn {
        	display:block;
		} 

		.png-logo{
			padding-top:92px;
		}
    .band-avatar-big{
      text-align:left;
    }
    .band-name-big{
      text-align:left;
    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    #about{
      display:block;
    }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



.bar-wrapper {
    height: 300px;
    position: relative;
}
.bar {
    position: relative;
    bottom: 0;
    width: 5px;
    display: inline-block;
    border: 1px solid red;
    height: 5px;
    border-bottom: 3px solid #A1094A;
}
/* PLAYER */


/** audio player styles **/
@media only screen and (min-width : 320px) {
.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
  
}
}
@media only screen and (min-width : 768px) {
.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
  
}
}
.audio-player-page, .audio-player-page div, .audio-player-page h2, .audio-player-page a, .audio-player-page span, .audio-player-page button {
  margin: 0;
  border: none;
  outline: none;
}
.audio-player-page div{
  margin-top:2px;


}
.audio_player-page .audio-desc-page{
  padding:4px;
    
}
.audio_player-page {
  width:100%;
  overflow:hidden;
}
.audio-desc-page{
  padding-top:20px;
  height:200px;
}
.audio-art-img-page{
  border-radius: 5px;
}
.audio-desc-page h3 {
  text-align:center;
  font-weight: bold;
  font-size: 29px;
  color: #000;
}
.audio-player-page h4 {
  text-align:center;
  font-size: 25px;
  color: #000;
}

/* play/pause control */
.mejs-controls .mejs-button button {
  cursor: pointer;
  display: block;
  position: absolute;
  text-indent: -9999px;
}
.mejs-currenttime, .mejs-duration{
  display:none;
}
.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
  width: 38px;
  height: 38px;
  bottom: 173px;
  left: 47%;
  background: url('https://s3-us-west-2.amazonaws.com/mymediatape/static_assets/play.png');
  object-fit:cover;
  background-size: cover;

}
.mejs-controls .mejs-pause button { 
  background: url('https://s3-us-west-2.amazonaws.com/mymediatape/static_assets/pause.png');
  width:33px;
  object-fit:cover;
  background-size: cover;
}
 
 
/* mute/unmute control */
.mejs-controls .mejs-mute button, .mejs-controls .mejs-unmute button {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url('https://s3-us-west-2.amazonaws.com/mymediatape/static_assets/audio.png');
  object-fit:cover;
  background-size: cover;
  bottom: 120px;

}
.mejs-controls .mejs-unmute button { 
  position: absolute;
  background: url('https://s3-us-west-2.amazonaws.com/mymediatape/static_assets/audiomute.png');
  object-fit:cover;
  background-size: cover;
  bottom: 120px;
 }


/* volume scrubber bar */
.mejs-controls div.mejs-horizontal-volume-slider {
  position: absolute;
  left:10%;
  width: 90%;
  height: 7px;
  cursor: pointer;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  position: absolute;
  left:10%;
  width: 88%;
  height: 7px;
  background: grey;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  position: absolute;
  left:10%;
  height: 7px;
  width:88%;
  background: #FF7F11;

}


/* time scrubber bar */
.mejs-controls div.mejs-time-rail { width: 95%; }
 
.mejs-controls .mejs-time-rail span {
  position: absolute;
  display: block;
  width: 95%;
  height: 7px;
  bottom: 0px;
  cursor: pointer;

}
 
.mejs-controls .mejs-time-rail .mejs-time-total { 
  position: absolute;
  bottom: 325px;
  background: #565860; 
  width: 95% !important; /* fixes display bug using jQuery 1.8+ */

}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  position: absolute;
  bottom: 0px;
  width: 0;
  background: #7b7d82;

}
.mejs-controls .mejs-time-rail .mejs-time-current {
  position: absolute;
  bottom:0px;
  width: 0;
  background: #FF7F11;
}

/* metallic sliders */
.mejs-controls .mejs-time-rail .mejs-time-handle {
  position: absolute;
  display: block;
  bottom: 100px;

}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
  position: absolute;
  display: block;
  width: 2px;
  height: 14px;
  bottom: 2px;
  right: 12px;
}


/* time progress tooltip */
.mejs-controls .mejs-time-rail .mejs-time-float {
  position: absolute;
  display: none;
  width: 33px;
  height: 23px;
  top: -27px;
  margin-left: -17px;
  background: #333;
  z-index: 9999;
}
 
.mejs-controls .mejs-time-rail .mejs-time-float-current {
  width: 33px;
  display: block;
  left: 0;
  top: 4px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  z-index: 9999;
}
.mejs-offscreen{
  display:none;
}
/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
.media-player{ 
  z-index: 100;
  position: absolute;
}
.audio-player-vote-page{
  text-align:center;
}