$brand-primary:#213143;
$brand-success:#5C7064;
$brand-info:#F4DE7A;
$brand-warning:#442933;
$brand-danger:#691D22;
$btn-default-border:#243983;
$font-family-sans-serif: "Oswald";
$navbar-height: 70px;
$grid-gutter-width: 30px;
$navbar-border-radius: 0px;
$grid-float-breakpoint-max: 991px;
$navbar-default-link-hover-color:#5d5d5d;
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bungee|PT+Sans:400,400i,700|Open+Sans');
html, body {
    max-width: 100%;
}
body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
  background-color: #F9F9FA;
  overflow-x: hidden;

}
.btn-danger{
  background-color: #691D22;
}
a, a:hover {
  text-decoration: none;
  color: inherit;
}
hr{
  color: inherit;
}
#show-song:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

p {
  font-size:18px;
  font-family: 'Open Sans', serif;
}

.styleSmLogo{
	width:270px;
	margin-left:auto;
	margin-right:auto;
}
.sign-up{
	margin-top:20px;

}
.content{
	text-align:left;
	margin-bottom:40px;
}
h2{
  font-family: 'Bungee', sans-serif;
  font-weight:bold;
  font-size:38px;
}
h3{
  font-family: 'Bungee', sans-serif;
  font-weight:bold;
  font-size:32px;
}
h5{
  font-size: 17px;
}
label{
   font-size: 16px;
}
h3 small.pull-right{
  padding-top:5px;

}
small.pull-right{
  padding-top:3px;
  color:inherit;
}
/********* GENERAL **********/
/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
      .w{
        overflow:hidden;
        padding: R 0 R 0;
        margin: -R 0 -R 0;
      }
      .blurry-stock{
        height:400px;
      }
      .container-container{
        -webkit-animation-duration: 1s;
        -webkit-animation-delay: 0.3s;
      }
      .full-bars {
        max-width: 1200px;
      }
      .btn-success:hover{
        
      }
      .btn-danger:hover{
        color:#FFF;
      }
      .btn:hover, .btn:focus{
        color:#FFF;
      }
      .toggle-logo{
        left: 0px;
        top: 0px;
        position: fixed;
        z-index: 1000;
        background-color: #691D22;
        padding-top: 26px;
        padding-left: 15px;
        height:77px;
        width:307px;

      }
      .toggle-logo-sm{
        left: 0px;
        top: 0px;
        position: fixed;
        z-index: 1000;
        background-color: #691D22;
        padding-top: 26px;
        padding-left: 18px;
        height:77px;
        width:97px;

      }
      .navbar-fixed{
        position: fixed;
        z-index: 800;
        right:0px;
        top: 0px;
        width: calc(100% - 97px);


      }
      .navbar-default{
        border:none;
        height:77px;
      }
      nav{
                -webkit-animation-duration: 1s;
        -webkit-animation-delay: 0.3s;
      }
      .container{
        margin-left: auto;
        margin-right: auto;
        width:100%;
        padding-left:0px;
        padding-right:0px;
      }
      .band-img{
        border-radius:150px;
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
      .navbar-toggle{
        border:none;
        font-size: 20px;
        margin-top: 16px;
      }
      .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
        background-color: transparent;
      }
      .navbar-default .navbar-collapse{
        background-color: #213143;
        position: absolute;
        top:77px;
        z-index: 1000;
        width: 100%;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .container{

      }
      .w{
        overflow: revert;
        padding: 0px;
        margin: 0px;
      }
      .navbar-default .navbar-collapse{
        background-color: #213143;
        position: relative;
        top:0px;
        left:0px;
        z-index: 1000;
        width: 100%;
      }
      .container{
        max-width: 768px;
        padding-left:15px;
        padding-right: 15px;
      }
      .blurry-stock{
        height:330px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .container{
        max-width: 992px;
      }
      .navbar-fixed{
        position: fixed;
        z-index: 800;
        right:0px;
        top: 0px;
        width: calc(100% - 307px);


      }

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      .container{
        max-width: 1200px;
      }
    }

/********** GENERAL END **********/
/********** FORM **********/
/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
      .form-cont{
        background-color: #FFF;
        padding-top: 10px;
        margin-top:-20px;
      }
      .cool-panel{
        background-color: #FFF;
        box-shadow: 0px 0px 20px #888888;
        border-radius: 0px;
      }
      .panel-lg{
        padding:10px;
        margin-top:-20px;
      }
      .panel-md{
        width:31%;
      }
      #carousel{
        margin-top:-10px;
      }
      .h2-needs-help{
        display: inline;
        text-align: center;
        width: 100%;
      }
      .col-lg-only{
        display: none;
      }

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .form-cont{
        margin-top:0px;
        background-color: #FFF;
        border-radius: 10px;
        padding-top: 10px;
      }
      .sign-in-form-cont{
        position: absolute;
        top:29%;
        left:26%;
        width:48%;
      }
      .sign-up-form-cont{
        position: absolute;
        top:24%;
        left:16%;
        width:66%;
        padding:20px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .sign-in-form-cont{
        position: absolute;
        left:10%;
        width:33%;
      }
      
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      .col-lg-only{
        display: block;
      }
    }

/********** FORM END **********/
/********* ARTISTS **********/
/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
      .artist-bg-img{
        height:150px;
        width:150px;
        object-fit:cover;
        border-radius: 150px;
        margin-left: auto;
        margin-right: auto; 
      }

      .artist-bg-img{}
      textarea#album_comment_body.form-control{
        background-color: rgba(255, 255, 255, 0.1);
      }
      input.btn.btn-comment.btn-album-comment.btn-default{
        background-color: rgba(255, 255, 255, 0.4);
      }
      textarea#album_comment_body.form-control:focus{
        background-color: rgba(255, 255, 255, 0.8);
      }
      .song-list{
        background-color: rgba(255, 255, 255, 0.1);
      }
      .song-list:nth-child(2){
        background-color: transparent;
      }
      .table-borderless tbody tr td,
      .table-borderless tbody tr th,
      .table-borderless thead tr th,
      .table-borderless thead tr td,
      .table-borderless tfoot tr th,
      .table-borderless tfoot tr td {
        border: none;
      }
      .artist-deets{
        margin-top:0px;
      }
      .artist-deets-right{
        margin-top:15px;
      }
      .artist-header{
        overflow: hidden;
        position: relative;
        padding-top:97px;
        padding-bottom: 24px;
        width:100%;
      }
      .album-color{
        width:100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        z-index: 10;
        margin-top:435px;
        
        padding:20px;

      }
      .artist-color{
        width:100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        z-index: 10;
        margin-top:471px;
        background-color: rgba(255, 255, 255, 0.4);
        padding:20px;
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
      .album-color{
        margin-top: 395px;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .album-color{
        margin-top: 295px;
      }
      .artist-color{
        margin-top:271px;
      }
      .artist-bg-img{

        margin-left: 0px;
        margin-right: 0px; 
      }
      .artist-deets-right{
        margin-top:0px;

      }
      .artist-deets{
        margin-top:10px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {


    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

/********** ARTISTS END **********/
.navbar-img{
  height: 40px;
  margin-top: -7px;
}
.navbar-default{
  background-color: #213143;
  color:#FFF;
}

ul.nav.navbar-nav{
    height: 75px;
}
.nav.nav-pills li:hover{
  background: none;
  height: 40px;
}
.nav.nav-pills li a{
  color:#FFF;
}
.nav.nav-pills li a:hover{
  background: #5C7064;
  height: 40px;
}
.navbar-default .navbar-nav > li > a{
  font-size: 20px;
  color:#FFF;
  margin-top:2px;
  font-weight: bold;
}
.navbar li a:hover{
  color:#FFF;
}
.navbar-default .navbar-nav > .open > a{
    background-color: #5C7064;
      color:#FFF;
    height: 75px;
    margin-top:0px;
}
.navbar-default .navbar-nav > .open > a:focus{
    background-color: #5C7064;
      color:#FFF;
    height: 75px;
}
.navbar-default .navbar-nav > .open > a:hover{
    background-color: #5C7064;
      color:#FFF;
    height: 75px;
}
.form-control, .selectize-control{
  margin-bottom:10px;
}
.btn-comment{
  height:74px;
  width: 74px;
}
.panel-admin{
  height:290px;
}
.panel-body-admin{
  height:196px;
}
.audio-info{
	background-color:#ececec;
	height:100%;
	width:260px;
	float:left;
	text-align:left;
  margin-top:-10px;
}
.album-art{
	height:80px;
	width: 80px;
	float:left;
}
.audio-art{
	height:80px;
	width: 80px;
	float:left;
}
.albumArt{
  border-radius:4px;
}
.audio-desc{
	padding-top:6px;
	padding-left:13px;
	font-weight:bold;
	float:left;
}
.activity{
  padding-top:20px;
  padding-bottom:10px;
  margin-top:0px;
}
.activities{
  margin:17px;
}
.activities :first-child{ 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.activities :last-child{ 
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
#carousel{

  overflow: hidden;
}
#carousel .item {
  width: 100%;
  overflow: hidden;
}
.carousel-inner{
    border-radius:  7px;
    overflow: hidden;
}
.carousel-control{
}
.carousel-caption{
  top: 28%;
  left:10%;
  text-align: left;
}

.btn-follow{
  margin-top:3px;
}
.article-container{
  padding-right:25px;
  padding-left:25px;
  overflow:hidden;
}
.cke_reset {
  height:807px !important; 
}
.article-editor{
  height:920px;
}
.article-body p img{
  max-width:700px;
}
.article-activities{
  width: 100%;
  overflow:hidden;
}
.dropdown-menu{
  width:220px;
}
.song-show-album-art{
  text-align:center;
  padding-left:20px;
  padding-right:20px;
}
.error-message{
  position:absolute;
  top:40%;
  right:21%;
  text-align:center;
}
.error-message-inner{
  width:90%;

}
.navbar-nav .open .dropdown-menu{
        background-color: #213143; 
      }
 /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
      .blurry-stock {
        overflow: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
      }
  		.logo-cont{
  			width:100%;
  			height:250px;
  			background-color:#550527;
  			text-align:center;
  			position:relative;
  		}
  		.png-logo{
  			padding-top:77px;
  			width:600px;
  			margin-left:auto;
  			margin-right:auto;
  			position:relative;
  			z-index:1000;
  		}
      #about{
        display:none;
      }
      .band-avatar-big{
        text-align:center;
      }
      .band-name-big{
        text-align:center;
      }
      .event-title-date{
        height:30px;
      }
      .img-carousel{
        margin-left:auto;
        margin-right:auto;
      }
      .overlay-dimmed{
        width:100%;
        height:100%;
        position: relative;
        z-index: 1200;
      }
      .li-songs-charts{
        padding: 10px;
        height:90px;
      }
      .li-artists-charts{
        padding: 10px;
      }
      .li-albums-charts{
        padding: 10px;
        height:90px;
      }
      .li-songs-charts {
          background-color: transparent;
      }
      .li-songs-charts:nth-child(2) {
          background-color: #E8E8EF;
      }
      .navbar-holder{
        box-shadow: 0px 0px 20px #000000;
        height:77px;
        width:100%;
        position: fixed;
        z-index: 1400;
        top:0px;
      }
      .top-of-fold{
        margin-bottom:20px;
        margin-top:-10px;
        width:100%;
        height: 650px;
        background-color: #F9F9FA;

      }
      .blur-art{
        width: 100%;
        height: 325px;
        background: #a2a2a2;
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;
        overflow: hidden;
        transform: translateZ(0);
      }
      .blurry-image{
        filter: blur(50px);
        width:100%;
      }
      .clear-art{
        position: absolute;
        z-index: 1200;
        width:170px;
        height:170px;
        margin-top: 78px;
        margin-left:10px;
      }
      .clear-image{
        width:100%;
        height:100%;
      }
      .album-details{
        padding-left:0px;
        padding-top: 45px;
      }
      .top-of-fold-content{
        position: absolute;
        z-index: 1000;
        top: 0px;
        width: 100%;
        color:#FFF;
        height: 325px;
        overflow: hidden;
        background: #FFF;
        box-shadow: 0px 0px 20px #888888;
      }
      .clear-art-sm{
        position: absolute;
        z-index: 1200;
        width:170px;
        height:170px;
        margin-top: 78px;
        top:0px;
        margin-left:35px;
        overflow: hidden;
      }
      .clear-image-sm{

      }
      .xs-6{
        width:50%;
      }
      .album-details-sm{
        padding-left:0px;
        padding-top: 45px;
        position: absolute;
        z-index: 1200;
        top:0px;
      }
      .top-of-fold-content{
        width:100%;
      }
      .clear-art-sm{
        position: absolute;
        z-index: 1001;
        width:170px;
        height:170px;
        margin-top: 10px;
        top:0px;
        left: 20%;
      }
      .clear-image-sm{

      }
      .xs-6{
        width:50%;
      }
      .top-2{
        margin-top: 333px;
      }
      .album-details-sm{
        padding: 15px;
        height: 176px;
        position: relative;
        z-index: 1000;
        background-color: #691D22;
      }
      .art-top{
      }
      .details-bottom{
        width: 100%;
        color: #FFF;
        height: 160px;
      }
      .h3-centered{
        text-align: center;
        padding-top:10px;
        font-size: 28px;
        font-weight: bold;
        font-family: 'Bungee', serif; 
      }
      .h3-centered-sm{
        text-align: center;
        padding-top:10px;
        font-size: 28px;
        font-weight: bold;
        font-family: 'Bungee', serif;
      }
      .add-deets{
        position: absolute;
        bottom: 14px;
      }
      .blur-art-sm{
        width: 100%;
        height: 150px;
        background: #a2a2a2;
        position: relative;
        top: 0;
        left: 0;
        z-index: 10;
        padding-left: 15px;
      }
      .blurry-image{
        filter: blur(50px);
        width:100%;
      }
      .blurry-image-sm{
        filter: blur(50px);
        width:100%;
        height: 162.5px;
      }
      .clear-art{
        position: absolute;
        z-index: 1200;
        width:160px;
        height:160px;
        margin-top: 78px;
        margin-left:10px;
      }
      .toggle-logo-sm{
        display: block;
      }
      .toggle-logo{
        display: none;
      }
      .collapse.navbar-collapse{
        height: 500px;
        color:#FFF;
      }
      .navbar li {
        color:#FFF;
      }
    }


    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
		.logo-cont{
			height:320px;
		}
    .blur-art{
      width: 100%;
      height: 325px;
      background: #a2a2a2;
      position: relative;
      top: 0;
      left: 0;
      z-index: 10;
      overflow: hidden;
      transform: translateZ(0);
    }
    .blur-art-sm{
      width: 100%;
      height: 150px;
      background: #a2a2a2;
      position: relative;
      top: 0;
      left: 0;
      z-index: 10;
      padding-left: 15px;
    }
    .blurry-image{
      filter: blur(50px);
      width:100%;
    }
    .blurry-image-sm{
      filter: blur(50px);
      width:100%;
      height: 162.5px;
    }
    .clear-art{
      position: absolute;
      z-index: 1200;
      width:160px;
      height:160px;
      margin-top: 78px;
      margin-left:10px;
    }
    .clear-image{
      width:100%;
      height:100%;
    }
    .album-details{
      padding-left:0px;
      padding-top: 55px;
    }
    .top-of-fold-content{
      position: absolute;
      z-index: 1000;
      top: 0px;
      width: 100%;
      color:#FFF;
    }
    .clear-art-sm{
      position: absolute;
      z-index: 1200;
      width:160px;
      height:160px;
      top:0px;
      margin-left:17%;
      overflow: hidden;
    }

    
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    .top-of-fold-content{
      width:98%;
    }
    	#progressOut {
        	display:block;
    
		} 
    .clear-art-sm{
      position: absolute;
      z-index: 1200;
      width:170px;
      height:170px;
      top:0px;
      margin-left:8%;
      overflow: hidden;
    }
		#progressIn {
        	display:block;
		} 

		.png-logo{
			padding-top:92px;
		}
    .band-avatar-big{
      text-align:left;
    }
    .band-name-big{
      text-align:left;
    }
    .top-2{
        margin-top: 0px;
    }
    .top-of-fold{
      height:325px;
    }
    .h3-centered{
        text-align: center;
        padding-top:10px;
        font-size: 23px;
        font-weight: bold;
        font-family: 'Bungee', serif; 
      }
    .h3-centered-sm{
        text-align: left;
        padding-top:10px;
        font-size: 23px;
        font-weight: bold;
        font-family: 'Bungee', serif; 
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    #about{
      display:block;
    }
        .img-carousel{
      margin-left:0px;
      margin-right:0px;
    }
    .clear-art-sm{
      position: absolute;
      z-index: 1200;
      width:160px;
      height:160px;
      top:0px;
      margin-left:13%;
      overflow: hidden;
    }
        .toggle-logo-sm{
      display: none;
    }
    .toggle-logo{
      display: block;
    }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    .clear-art-sm{
      position: absolute;
      z-index: 1200;
      width:160px;
      height:160px;
      top:0px;
      margin-left:1%;
      overflow: hidden;
    }
    .top-of-fold{
      height:355px;
    }
    .album-details-sm{
      padding: 15px;
      height: 206px;
      position: relative;
      z-index: 1000;
      background-color: #691D22;
    }
    .top-of-fold-content{
      height:355px;
    }

    }



.bar-wrapper {
    height: 300px;
    position: relative;
}
.bar {
    position: relative;
    bottom: 0;
    width: 5px;
    display: inline-block;
    border: 1px solid red;
    height: 5px;
    border-bottom: 3px solid #A1094A;
}
/* PLAYER */


/** audio player styles **/
@media only screen and (min-width : 320px) {
.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
  
}
}
@media only screen and (min-width : 768px) {
.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
  
}
}
.audio-player-page, .audio-player-page div, .audio-player-page h2, .audio-player-page a, .audio-player-page span, .audio-player-page button {
  margin: 0;
  border: none;
  outline: none;
}
.audio-player-page div{
  margin-top:2px;


}
.audio_player-page .audio-desc-page{
  padding:4px;
    
}
.audio_player-page {
  width:100%;
  overflow:hidden;
}
.audio-desc-page{
  padding-top:20px;
  height:200px;
}
.audio-art-img-page{
  border-radius: 5px;
}
.audio-desc-page h3 {
  text-align:center;
  font-weight: bold;
  font-size: 29px;
  color: #000;
}
.audio-player-page h4 {
  text-align:center;
  font-size: 25px;
  color: #000;
}

/* play/pause control */
.mejs-controls .mejs-button button {
  cursor: pointer;
  display: block;
  position: absolute;
  text-indent: -9999px;
}
.mejs-currenttime, .mejs-duration{
  display:none;
}
.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
  width: 38px;
  height: 38px;
  bottom: 173px;
  left: 47%;
  background: url('https://s3-us-west-2.amazonaws.com/mymediatape/static_assets/play.png');
  object-fit:cover;
  background-size: cover;

}
.mejs-controls .mejs-pause button { 
  background: url('https://s3-us-west-2.amazonaws.com/mymediatape/static_assets/pause.png');
  width:33px;
  object-fit:cover;
  background-size: cover;
}
 
 
/* mute/unmute control */
.mejs-controls .mejs-mute button, .mejs-controls .mejs-unmute button {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url('https://s3-us-west-2.amazonaws.com/mymediatape/static_assets/audio.png');
  object-fit:cover;
  background-size: cover;
  bottom: 120px;

}
.mejs-controls .mejs-unmute button { 
  position: absolute;
  background: url('https://s3-us-west-2.amazonaws.com/mymediatape/static_assets/audiomute.png');
  object-fit:cover;
  background-size: cover;
  bottom: 120px;
 }


/* volume scrubber bar */
.mejs-controls div.mejs-horizontal-volume-slider {
  position: absolute;
  left:10%;
  width: 90%;
  height: 7px;
  cursor: pointer;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  position: absolute;
  left:10%;
  width: 88%;
  height: 7px;
  background: grey;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  position: absolute;
  left:10%;
  height: 7px;
  width:88%;
  background: #FF7F11;

}


/* time scrubber bar */
.mejs-controls div.mejs-time-rail { width: 95%; }
 
.mejs-controls .mejs-time-rail span {
  position: absolute;
  display: block;
  width: 95%;
  height: 7px;
  bottom: 0px;
  cursor: pointer;

}
 
.mejs-controls .mejs-time-rail .mejs-time-total { 
  position: absolute;
  bottom: 325px;
  background: #565860; 
  width: 95% !important; /* fixes display bug using jQuery 1.8+ */

}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  position: absolute;
  bottom: 0px;
  width: 0;
  background: #7b7d82;

}
.mejs-controls .mejs-time-rail .mejs-time-current {
  position: absolute;
  bottom:0px;
  width: 0;
  background: #FF7F11;
}

/* metallic sliders */
.mejs-controls .mejs-time-rail .mejs-time-handle {
  position: absolute;
  display: block;
  bottom: 100px;

}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
  position: absolute;
  display: block;
  width: 2px;
  height: 14px;
  bottom: 2px;
  right: 12px;
}


/* time progress tooltip */
.mejs-controls .mejs-time-rail .mejs-time-float {
  position: absolute;
  display: none;
  width: 33px;
  height: 23px;
  top: -27px;
  margin-left: -17px;
  background: #333;
  z-index: 9999;
}
 
.mejs-controls .mejs-time-rail .mejs-time-float-current {
  width: 33px;
  display: block;
  left: 0;
  top: 4px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  z-index: 9999;
}
.mejs-offscreen{
  display:none;
}
/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
.media-player{ 
  z-index: 100;
  position: absolute;
}
.audio-player-vote-page{
  text-align:center;
}
