/* FORMS */
.cool-panel{
	background-color: #FFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	border-radius: 0px;
}
.title-panel{
	padding:20px; 
	padding-bottom:40px; 
	margin:-15px; 
	color:#fff;
	background: -moz-linear-gradient(45deg, #4B5465 0%, #3E4553 100%);
	background: -webkit-linear-gradient(45deg, #4B5465 0%, #3E4553 100%);
	background: linear-gradient(45deg, #4B5465 0%, #3E4553 100%);
	background: #4B5465;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.deets-panel{

}
.form-cont{
	background-color: transparent;
}
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
.cool-panel{
	background-color: #FFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	border-radius: 0px;
}
.title-panel{
	padding:20px; 
	padding-top: 40px;
	padding-bottom:40px; 
	margin:-15px; 
	color:#fff;
	background: -moz-linear-gradient(45deg, #4B5465 0%, #3E4553 100%);
	background: -webkit-linear-gradient(45deg, #4B5465 0%, #3E4553 100%);
	background: linear-gradient(45deg, #4B5465 0%, #3E4553 100%);
	background: #4B5465;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.deets-panel{

}
.form-cont{
	background-color: transparent;
}

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.title-panel{
	padding-top: 20px;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* HOMEPAGE */

.top-of-fold-content{
	border-radius: 3px;
	background-color: transparent;
	position: absolute;
	z-index: 1000;
	top: 0px;
	width: 98%;
	color: #000;
	height: 355px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #000;
}


.album-details-sm{
	
	padding: 15px;
	background: #FFF;
	color: #000;
	height: 100%;
	z-index: 1000;
	padding-left: 60px;
}
.album-details-sm h3{
	font-weight: 600;
	font-size: 26px;
}
.add-pad{
	padding:20px;
}
.blur-art-sm {
	width: 26%;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	padding-left: 0px;
}
.blurry-image-sm{
	width: 100%;
	height: 100%;
}
.details-bottom{
	width: 74%;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	float: left;
	padding-left: 0px;

}
.blur_art_activities{
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	padding-left: 0px;
}

.add-deets{
	bottom: 25px;
}
.blue-grad{
  	background: -moz-linear-gradient(45deg, #3E4553 0%, #515A7A 100%);
  	background: -webkit-linear-gradient(45deg, #3E4553 0%,#515A7A 100%);
  	background: linear-gradient(45deg, #515A7A 0%,#515A7A 100%);
  	background: #515A7A;
}
.red-grad{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: #6C1B44;
	background: -moz-linear-gradient(45deg, #6C1B44 0%, #591738 100%);
	background: -webkit-linear-gradient(45deg, #6C1B44 0%,#591738 100%);
	background: linear-gradient(45deg, #6C1B44 0%,#591738 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6C1B44', endColorstr='#591738',GradientType=1 );
}
.cool-panel.red-grad{
	 margin:0px;
	margin-bottom: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding-top: 0px;
	overflow: hidden;
}
.cool-panel.blue-grad{
	 margin:0px;
	margin-bottom: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding-top: 0px;
	overflow: hidden;
}
.cool-panel.blue-grad h3{
	padding-bottom: 12px;
	color: #fff;
}
.cool-panel.red-grad h3{
	padding-bottom: 12px;
	color: #fff;
}
.activities-row{
	margin-left: 3.5px!important;
}
.activities{
	margin:0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #000;
}
.activity{
	padding-bottom: 0px!important;
	border-top: solid;
	border-top-width: thin;
	border-top-color: #fff;
	overflow: hidden;
}
.activities.activity:first_child{
	border-top: none;
}
.activity .cool-panel{
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0)!important;
}
.top-form-panel{
	padding: 20px!important;
	padding-top: 1px !important;
	padding-bottom: 12px !important;
	margin-top: 0px;
}
.sidebar{
	overflow: hidden;
	border-radius: 3px;
	margin-top: 17px;
	margin-left: -15px;
}
.sidebar-deets{
  	background: #FFF;
	padding:20px;
}
.activities-row .col-md-8{
	padding: 0px;
	padding-top: 17px;
	padding-right: 17px!important;
}
.activity-info{
	padding: 0px!important;
}
.col-md-8.cool-panel{
	padding: 0px !important; 
		margin:0px;
	margin-top: 17px;
	padding: 0px;
	padding-top:20px;
	background: transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

}
.activity-title{
	text-align: left;
	padding-left: 10px;
}
.top-of-fold-row{
	margin-left: auto;
	width: 100%!important;
	position: absolute!important;
	left: 0!important;
	padding: 0px!important;
}



.top-of-fold-content{
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}
@media only screen and (min-width : 320px) {
	h3 strong{
    		font-size: 20px;
    		text-transform: uppercase;
    	}
	.top-of-fold-content{
		/*width: 75%!important;*/
	}
	.slick-slide{
		height:380px!important;
	}
	.clear-art-sm{
		margin-left: -18.3%;
		height:80px;
		width:80px;
		border-radius: 3px;
	}
	.blur-art-sm {
		width: 22%;
	}
	.details-bottom{
		width: 78%;
	}
	.band-image{
		border-radius: 128px;
	}
	.blurry-image-sm{
		filter: blur(20px);
	}
	.top-of-fold{
		height: 380px;
	}
	.activities-row{
		margin-top: -40px;
		margin-left: 0px!important;
		margin-right: -17px!important;
	}
	.album-details-sm{
		padding: 5px;
		padding-left: 20px;

	}

}
@media only screen and (min-width : 410px) {
	.top-of-fold-content{
		/*width: 75%!important;*/
	}
	.slick-slide{
		height:380px!important;
	}
	.clear-art-sm{
		margin-left: -18.3%;
		height:100px;
		width:100px;
		border-radius: 3px;
	}
	.blur-art-sm {
		width: 18%;
	}
	.details-bottom{
		width: 82%;
	}
	.band-image{
		border-radius: 128px;
	}
	.blurry-image-sm{
		filter: blur(20px);
	}
	.top-of-fold{
		height: 380px;
	}
	.activities-row{
		margin-top: -40px;
	}
	.album-details-sm{
		padding: 10px;
		padding-left: 45px;
		
	}

}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.top-of-fold-content{
		/*width: 75%!important;*/
	}
	.slick-slide{
		height:380px!important;
	}
	.clear-art-sm{
		margin-left: -18.3%;
		height:128px;
		width:128px;
		border-radius: 3px;
	}
	.blur-art-sm {
		width: 18%;
	}
	.details-bottom{
		width: 82%;
	}
	.band-image{
		border-radius: 128px;
	}
	.blurry-image-sm{
		filter: blur(50px);
	}
	.album-details-sm{
		padding: 15px;
		padding-left: 60px;
		
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
/*	.top-of-fold-content{
	width: 600px!important;
}*/
	.slick-slide{
		height:380px!important;
	}
	.clear-art-sm{
		margin-left: -18.3%;
		height:140px;
		width:140px;
		border-radius: 3px;
	}
	band-image{
		border-radius: 130px;
	}
	.activities-row{
		margin-right: -15px!important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.slick-slide{
		max-width: 480px;
	}
	.slick-track{
		max-width: 974px;
	}
	.clear-art-sm{
		margin-left: -18.3%;
		height:130px;
		width:130px;
		border-radius: 3px;
	}
	.blur-art-sm {
		width: 23%;
	}
	.details-bottom{
		width: 77%;
	}
	.band-image{
		border-radius: 130px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.slick-slide{
		max-width: 580px;
	}
	.slick-track{
		max-width: 1160px;
	}
	.blur-art-sm {
		width: 26%;
	}
	.details-bottom{
		width: 74%;
	}
	.band-image{
		border-radius: 180px;
	}
	.clear-art-sm{
		margin-left: -18.3%;
		height:180px;
		width:180px;
		border-radius: 3px;
	}

}

/* ARTIST PAGE */
.deets-cool{
	background: #FFF;
}
.band-head-deets{
	padding-top:0px!important;
}
.album_name_sm{
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0px;
}
.album_rd_sm{
	font-size: 14px;
}
socail{
	top:30px;
	right:20px;
	left: auto;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	width:auto;
}
.about p{
	font-size: 16px;
}

/* ALBUM PAGE */
.page-head{
	margin-top:82px;
}
h3 small{
	color:inherit;
	font-size: 18px;
	text-transform: uppercase;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
.h3-sm{
	margin-top: -10px;
}
.h3-str{
	margin-bottom: 0px;
	padding-bottom: 0px!important;
}
.album-blur{
	margin:-10px;
	position: absolute;
	top:0px;
	left: 0px;
	filter: blur(50px);
}
.album-clear{
	position: relative;
	top:0px;
	left: 0px;
	z-index: 10;
}

@media only screen and (min-width : 320px) {

	.album-desc{
		display: none;
	}
}
@media only screen and (min-width : 410px) {


}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.album-desc{
		display: block;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {


}
