<div class="col-xs-6 col-xs-offset-3 error-message">
	<div class="error-message-inner">
		<h2> We don't know where you are.</h2>
		<h3> <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-default btn-block" %> </h3>
	</div>
</div>